*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html{
    height: 100%;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container>*{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    padding: 10px;
    text-align: center;
}

.header{
    grid-area: header;
    background-color: aquamarine;
}

.navbar{
    grid-area: navbar;
    background-color: bisque;
}

.main{
    grid-area: main;
    background-color: cadetblue;
}

.sidebar{
    grid-area: sidebar;
    background-color: chocolate;
}

.footer{
    grid-area: footer;
    background-color: cornflowerblue;
}

.grid-container{
    display: grid;
    gap: 10px;
    grid-template-areas: "header"
    "navbar"
    "main"
    "sidebar"
    "footer"
}
@media (min-width:400px) {
    .grid-container{
        grid-template:
        "header header" 100px
        "navbar navbar" 50px
        "sidebar main" auto
        "footer footer" 100px/200px auto;
    }
}

@media (main-width:600px){
    
}

.grid-container{
    grid-template:
    "header header"
    "navbar navbar"
    "sidebar main"
    "footer footer";
}

@media (min-width:900px){
    .grid-container{
        grid-template:
        "header header header" 100px
        "navbar main sidebar" auto
        "footer footer footer" 100px/200px auto;
    }
}